.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f44336; /* אדום */
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
